// Banner

.container-banner {

  img {
    display: block;
    margin: auto;
  }

  .banner-overlay {
    height: 70vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top,center;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, .5);


    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: $cassiopeia-grid-gutter;

      h2 {
        font-size: 3rem;
      }
    }
  }
}

.colors_autumn {
  .banner-overlay {
    background-image: url(../../../images/headers/jumbotron-image-bg_autumn.jpg);
  }
}

.colors_spring {
  .banner-overlay {
    background-image: url(../../../images/headers/jumbotron-image-bg_spring.jpg);
  }
}

.colors_summer {
  .banner-overlay {
    background-image: url(../../../images/headers/jumbotron-image-bg_summer.jpg);
  }
}

.colors_winter {
  .banner-overlay {
    background-image: url(../../../images/headers/jumbotron-image-bg_winter.jpg);
  }
}
