// Footer

.footer {
  margin-top: $cassiopeia-grid-gutter;
  color: $white;
  background-color: var(--cassiopeia-color-primary);
  background-image: $cassiopeia-header-grad;

  .grid-child {
    padding: 2.5rem ($cassiopeia-grid-gutter/2);
    }

  a {
    color: currentColor;
    }

  .back-top {
    align-self: flex-end;
    height: 40px;
    padding: $cassiopeia-grid-gutter/2;
    margin-left: auto;
    color: var(--cassiopeia-color-primary);
    background: $white;
    border-radius: $border-radius;
    }

  [dir=rtl] & {
    background-image: $cassiopeia-header-grad-rtl;

    .back-top {
      margin-right: auto;
      margin-left: 0;
    }
  }

  // Scrolling back to top
  .scroll {
    position: fixed;
    bottom: 1rem;
    z-index: 99;
    outline: none;
    height: 40px;
    padding: $cassiopeia-grid-gutter/2;
    margin-left: auto;
    color: var(--cassiopeia-color-primary);
    background: $white;
    border-radius: $border-radius;
    cursor: pointer;
    text-decoration: none;

    &-top {
      right: 1rem;
    }
  }
}
