// Footer

.footer {
  padding: 2.5rem ($cassiopeia-grid-gutter / 2);
  margin-top: $cassiopeia-grid-gutter;
  color: $white;
  background: $cassiopeia-template-color-light;

  a {
    color: $gray-800;
  }

  .back-top {
    align-self: flex-end;
    height: 40px;
    padding: 8px 11px;
    color: $cassiopeia-template-color;
    background: $white;
    border-radius: 3px;

    @include margin("right", 5px);
    @include margin("left", auto);
  }
}
