// Footer

.footer {
  padding: 2.5rem $cassiopeia-grid-gutter;
  margin-top: $cassiopeia-grid-gutter;
  color: gray(900);
  background: $cassiopeia-template-color-light;

  a {
    color: gray(800);
  }

  .back-top {
    align-self: flex-end;
    height: 40px;
    padding: $cassiopeia-grid-gutter/2;
    color: var(--cassiopeia-color-brand);
    background: color("white");
    border-radius: $border-radius;

    @include margin("right", 5px);
    @include margin("left", auto);
  }
}
