// Footer

.footer {
  margin-top: $cassiopeia-grid-gutter;
  color: $white;
  background-color: var(--cassiopeia-color-primary);
  background-image: $cassiopeia-header-grad;

  .grid-child {
    padding: 2.5rem ($cassiopeia-grid-gutter/2);
  }

  a {
    color: currentColor;
  }

  .back-top-wrapper {
    align-self: flex-end;
    height: 40px;
    padding: $cassiopeia-grid-gutter/2;
    margin-left: auto;
    color: var(--cassiopeia-color-primary);
    background: $white;
    border-radius: $border-radius;
  }

  [dir=rtl] & {
    background-image: $cassiopeia-header-grad-rtl;

    .back-top-wrapper {
      margin-right: auto;
      margin-left: 0;
    }
  }


  .scroll-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 1rem;
    bottom: 0;
    width: 40px;
    pointer-events: none;
  }

  .scroll-top {
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 3rem);
    z-index: 99;
    outline: none;
    height: 40px;
    padding: $cassiopeia-grid-gutter/2;
    margin-left: auto;
    color: var(--cassiopeia-color-primary);
    background: $white;
    border-radius: $border-radius;
    cursor: pointer;
    text-decoration: none;
  }
}
