// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --cassiopeia-color-primary: #{$summer-color-primary};
  --cassiopeia-color-link: #{$summer-color-link};
  --cassiopeia-color-hover: #{$summer-color-hover};
  --cassiopeia-color-menu-hover: #{$summer-color-menu-hover};
  --cassiopeia-color-brand: #{$summer-color-brand};
  --cassiopeia-color-btn: #{$summer-color-btn};
  --cassiopeia-color-btn-hover: #{$summer-color-btn-hover};
  --cassiopeia-color-btn-hover-txt: #{$summer-color-btn-hover-txt};
  --cassiopeia-color-btn-txt: #{$summer-color-btn-txt};
}
