// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --cassiopeia-color-primary: #{$spring-color-primary};
  --cassiopeia-color-link: #{$spring-color-link};
  --cassiopeia-color-hover: #{$spring-color-hover};
  --cassiopeia-color-menu-hover: #{$spring-color-menu-hover};
  --cassiopeia-color-brand: #{$spring-color-brand};
  --cassiopeia-color-btn: #{$spring-color-btn};
  --cassiopeia-color-btn-hover: #{$spring-color-btn-hover};
  --cassiopeia-color-btn-hover-txt: #{$spring-color-btn-hover-txt};
  --cassiopeia-color-btn-txt: #{$spring-color-btn-txt};
}
